li.patience-indicator {
	width: 100%;
	height: 3em;	
	z-index: 1002;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	span {
		height: 0.68em;					
		width: 0.68em;
		border-radius: 100%;
		background-color: #005e53;
		margin: 0.23em;

		opacity: 0.87;

		animation: 1.2s infinite alternate blink;

		&.dot_2{
			animation-delay: 0.7s;
		}
		&.dot_3 {
			animation-delay: 1.2s;
		}


	}

	@keyframes blink {
		0% {
			transform: translateY(-0.5em);


		
		}
		60% {
			transform: translateY(0em);
		} 
	}


}