button.transgram-chat-widget div.message-preview{
	position: absolute;
	right: 0em;
	bottom: 2.6em;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	overflow: hidden;

	p {
		margin: 0;
		background-color: white;
		color: rgba(0, 0, 0, 0.87);
		border-radius: 1.3em;
		max-width: min(calc(80vw - 2rem), 20em);
		padding: 1em;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		border: 1px solid rgba(0, 0, 0, 0.87);
	}
	span {
		width: 0.8em;
		height: 0.8em;
		background-color: white;
		margin-right: 0.8em;
		transform: translateY(-0.6em) rotateZ(45deg);
		border-right: 1px solid rgba(0, 0, 0, 0.87);
		border-bottom: 1px solid rgba(0, 0, 0, 0.87);

	}
}