.transgram-chat-widget {
	position: fixed;
	bottom: 1.5rem;
	right: 1rem;

	padding: .6em 1.2em;
	border-radius: 8px;
	background-color: #ee8224;
	color: white;

	font-size: 1em;
	font-weight: 500;

	z-index: 998;

	border: 1px solid transparent;
	transition: border-color .25s;

	p.unread-count {
		top: -1.77em;
		right: -0.55em;
		// animation keyframes are defined in unread_indicator.scss
		animation: 0.5s normal forwards blend-in;
	}

}

.transgram-chat-widget:hover {
	border-color: white;
}

.transgram-chat-widget.open {
	background-color: darkorange;
}
